body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.app-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.todo-form {
  display: flex;
  margin-bottom: 20px;
}
.todo-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}
.todo-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.todo-form button:hover {
  background-color: #0056b3;
}

.todo-list ul {
  list-style: none;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}
.todo-item li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.2rem;
}
.checked {
  text-decoration: line-through;
  opacity: 0.3;
}

.todo-item input {
  margin-right: 10px;
}

.todo-item button {
  background: none;
  border: none;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button,
select {
  background-color: #007bff;
  color: white;
  font-family: inherit;
  border: none;
  border-radius: 6rem;
  padding: 1rem;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
option {
  background-color: #e0e0e0;
  color: #555;
}
